[build]
  command = "echo 'No build command required'"
  publish = "."
  functions = "functions"

[build.environment]
  NODE_VERSION = 20.18.0

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200